APP_NAME="Café Salas"
APP_ENV=production
APP_KEY=GENERAR_CON_PHP_ARTISAN_KEY_GENERATE_SHOW
APP_DEBUG=false
APP_URL=https://NOMBRE-DEL-PROYECTO.vercel.app
ALLOW_SIMULATED_PAYMENTS_IN_PRODUCTION=true

DB_CONNECTION=pgsql
DATABASE_URL=ASIGNADA_POR_LA_INTEGRACION_DE_NEON

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_SECURE_COOKIE=true
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax

CACHE_STORE=database
QUEUE_CONNECTION=sync
LOG_CHANNEL=stderr
LOG_LEVEL=warning
FILESYSTEM_DISK=local
APP_MAINTENANCE_DRIVER=cache
